<body>
  <div>
    <h1>Register</h1>
    <form action="/user" method="POST">
      <div>
        <input type="text" name="username" required placeholder="Username">
      </div>

      <div>
        <input type="password" name="password" required placeholder="Password">
      </div>

      <div>
        <input type="password" required placeholder="Confirm Password">
      </div>

      <div>
        <button type="submit">Register</button>
      </div>
    </form>
      <div>
        <a href="/"><button>Back</button></a>
      </div>
  </div>
</body>

